.title {
    color: #e3ebec;
    font-weight: 8000;
    font-size: 4.0em;
    margin-top: 20px;
    text-align: center;
  }
  
.btn {
    padding: 10px;
    margin: 1px 0px;
    width: 75px;
    font-size: 15px;
    background: #f44c4c;
    border-radius: 10px;
    font-weight: 200;
    box-shadow: 3px 3px 0px 0px #0e0800;
    text-align: center;
}

.head{
  color: #080808;
  font-weight: 8000;
  font-size: 4.0em;
  margin-top: 20px;
  text-align: center;
}

.container {
  background-color: rgb(115, 170, 243) ;
  margin-top: 50px;
  margin-left: 550px;
  margin-right: 550px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  outline: none;
  border: 4px solid #1c3c3e;
  box-shadow: 3px 4px 0px 1px #ffc61b;
}